/* styles/2-common.css */
body {
    margin: 0;
    padding: 0;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-position: 20px center; 
    font-family: 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #484848;
    font-size: 14px;
}
