/* styles/2-header.css */
header {
    height: 70px;
    width: 100%;
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px center;
}
